<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Covid Daily Data</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <link rel="stylesheet" href="static/styles/style.css">
  <link rel="stylesheet" href="../static/styles/bootstrap.min.css">
  <link rel="stylesheet" href="../static/styles/bootstrap.css">
</head>

<body>
    <table>
        <th>Geo Code ID</th>>
        <th>Population</th>
        <th>Density</th>
        {% for key, value in data.items %}
        <tr>
            <td>{{key}}</td>
        </tr>
        {% endfor %}       
    </table>

</body>

</html>